In [10]:
from sqlalchemy import create_engine
import pandas as pd

# Replace 'username', 'password', and 'dbname' with your MySQL configuration.
engine = create_engine('mysql+pymysql://root:password@127.0.0.1/sakila')

def run_query(query):
    return pd.read_sql_query(query, engine)

In [11]:
query = """
SELECT c.first_name, c.last_name, c.email, a.address, ci.city 
FROM customer c
JOIN address a ON c.address_id = a.address_id
JOIN city ci ON a.city_id = ci.city_id
WHERE a.city_id = 312
"""
df1 = run_query(query)

In [14]:
query = """
SELECT f.title, f.description, f.release_year, f.rating, f.special_features 
FROM film f
JOIN film_category fc ON f.film_id = fc.film_id
JOIN category ca ON fc.category_id = ca.category_id
WHERE ca.name = 'Comedy'
"""
df2 = run_query(query)

In [15]:
query = """
SELECT a.last_name, f.title, f.release_year 
FROM actor a
JOIN film_actor fa ON a.actor_id = fa.actor_id
JOIN film f ON fa.film_id = f.film_id
WHERE a.first_name = 'Johnny' AND a.last_name = 'Lollobrigida'
"""
df3 = run_query(query)

In [16]:
query = """
SELECT a.first_name, a.last_name 
FROM actor a
JOIN film_actor fa ON a.actor_id = fa.actor_id
JOIN film f ON fa.film_id = f.film_id
WHERE f.title = 'Bingo Talented'
"""
df4 = run_query(query)

In [17]:
query = """
SELECT p.customer_id, p.amount
FROM payment p
WHERE p.amount > (SELECT 2*AVG(amount) FROM payment)
"""
df5 = run_query(query)

In [18]:
query = """
SELECT c.first_name, c.last_name, COUNT(p.payment_id) as num_payments
FROM customer c
JOIN payment p ON c.customer_id = p.customer_id
GROUP BY c.customer_id
ORDER BY num_payments DESC
LIMIT 5
"""
df6 = run_query(query)