In [6]:
import pandas as pd
from sqlalchemy import create_engine

In [12]:
engine = create_engine("mysql+pymysql://root:password@localhost:3306/sakila")

In [13]:
query1 = '''
SELECT customer.first_name, customer.last_name, customer.email, address.address, city.city
FROM customer
JOIN address ON customer.address_id = address.address_id
JOIN city ON address.city_id = city.city_id
WHERE city.city_id = 312;
'''

result1 = pd.read_sql_query(query1, engine)
print(result1)

  first_name last_name                              email             address  \
0     MATTIE   HOFFMAN  MATTIE.HOFFMAN@sakilacustomer.org   1497 Yuzhou Drive
1      CECIL     VINES     CECIL.VINES@sakilacustomer.org  548 Uruapan Street

     city
0  London
1  London